* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 490px) {

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
    transition: background 3s;
  }
  
  .main-img {
    grid-column-start: 4 ;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url("./images/desktop_main.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 3.5rem;
    transition: 5s;
  }

  h1 {
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 110px;
    line-height: 110px;
  }

  .container p {
    grid-column-start: 2;
    grid-row-start: 3;
    font-size: 14px;
    
  }

  .container button {
    grid-column-start: 2;
    grid-row-start: 4;
    font-size: 16px;
    font-style: normal;
    width: 190px;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #1a2236;
    border: 0;
    margin-top: -6rem;
  }
  
  .main h2 {
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    font-size: 110px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);   
    margin-left: 6rem;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: .05em;
    animation: typing 2.5s steps(40, end);
  }

  @keyframes typing {
    from {
      height: 0
    }

    to {
      height: 100%
    }
  }
  
  .main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(6, auto);
    gap: 0.5rem;
  }
  
  .first-project {
    grid-column-start: 2;
    grid-column-end: 4 ;
    grid-row-start: 1 ;
  }

  .second-project {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .third-project {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .fourth-project {
    grid-column-start: 2;
    grid-row-start: 4;
  }
  .five-project {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .six-project {
    grid-column-start: 1;
    grid-row-start: 4;
  }

  .lap-images_1 {
    display:none;
  }

  .lap-images-1{
    width: 100%;
    background-size: 70%;
    height: 300px;
    background-repeat: no-repeat;
   }

   .lap-images_3{
     display:none;
   }

   .lap-images-3 {
    width: 140%;
   }


  .flex {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .flex li {
    font-family: Poppins, sans-serif;
    font-size: 10.13px;
    font-style: normal;
    font-weight: 300;
    background-color: #98dede;
    list-style: none;
    padding: 0.5rem 0.7rem 0.5rem 0.6rem;
    line-height: 0.6rem;
    margin-right: 0.7rem;
    text-align: left;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 490px){
.top-img {
  background-image: url("./images/logo.png");
  width: 100%;
  background-size: 100%;
  height: 90px;
  width: 125px;
  background-repeat: no-repeat;
}
}

button.menu {
  background-color: transparent;
  border: transparent;
  margin-right: 28px;
  margin-top: -1rem;
}

@media screen and (max-width: 490px){
main {
  display: flex;
  flex-direction: column;
}

.container {
  align-self: center;
  width: 288px;
}
}
@media screen and (max-width: 490px){
  h1 {
    font-size: 50px;
    width: 220px;
    height: 100px;
    line-height: 50px;
  }

  p {
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    width: 270px;
    letter-spacing: -0.6px;
    margin-bottom: 35px;
   }
}


h1 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 0 0 1.1rem 0;
}

p {
  font-family: Poppins, sans-serif;
}

@media screen and (max-width: 490px){
button.bottom {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  width: 288px;
  line-height: 50px;
  color: white;
  background-color: #1a2236;
  border: 0;
  margin-bottom: 1.9rem;
}

button.bottom:hover {
  background-color: white;
  color: #1a2236;
  border: 1px solid #1a2236;
  cursor: pointer;
}

button.bottom:active {
  border: 2px solid #1a2236;
}
}

@media screen and (max-width: 490px){
.bottom-img {
  background-image: url("./images/image_geometry_below.png");
  width: 100%;
  background-size: 100%;
  height: 200px;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}

.main {
  align-self: center;
}

main section h2 {
  align-self: center;
  width: 288px;
  font-family: Playfair Display, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 0 0 1.1rem 0;
  margin-bottom: 1rem;
  margin-left: 1.3rem;
}
.lap-images-1 {
  display: none;
}

.lap-images-3{
  display: none;
}

.project {
  align-self: center;
  background-color:black;
  margin-top: -0.4rem;
}
}

section .main {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
}

.lap-images_1 {
  width: 100%;
  background-size: 100%;
  height: 200px;
  background-repeat: no-repeat;
}

.lap-images {
  width: 100%;
  background-size: 100%;
  height: 200px;
  background-repeat: no-repeat;
}

.project {
  align-self: center;
  background-color:black;
  margin-top: -0.4rem;
}

.project h3 {
  width: 264px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0.3rem;
  color: white;
  margin-left: 1.7rem;
}

@media screen and (max-width: 490px){
.flex {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.flex li {
  font-family: Poppins, sans-serif;
  font-size: 10.13px;
  font-style: normal;
  font-weight: 300;
  background-color: #98dede;
  list-style: none;
  padding: 0.5rem 0.7rem 0.5rem 0.6rem;
  line-height: 0.6rem;
  margin-right: 0.7rem;
  text-align: left;
}

.project {
  align-self: center;
  background-color:black;
  margin-top: -0.4rem;
}
}

button.button-project {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  width: 180px;
  line-height:45px;
  color: white;
  background-color: transparent;
  border: 0;
  margin-bottom: 1.3rem;
  border: 1px solid white;
  margin-left: 1.7rem;
}

button.button-project:hover {
  background-color: white;
  color: #1a2236;
  border: 1px solid #1a2236;
  cursor: pointer;
}

button.button-project:active {
  border: 2px solid white;
}

.about {
  display: flex;
  flex-direction: column;
}

.information{
  align-self: center;
}


.information h2 {
  align-self: center;
  width: 288px;
  font-family: Playfair Display, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 0 0 1.1rem 0;
  margin-top: 4rem;
  margin-bottom: 0.7rem;
}

 .information p {
  margin-bottom: 35px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  width: 270px;
  letter-spacing: -0.6px;
  
}

.information button{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  width: 288px;
  line-height: 50px;
  color: white;
  background-color: #1a2236;
  border: 0;
  margin-bottom: 1.9rem;
}

.information button.cv_button:hover {
  background-color: white;
  color: #1a2236;
  border: 1px solid #1a2236;
  cursor: pointer;
}

.information button.cv_button:active {
  border: 2px solid #1a2236;
}

.tecnology{
  display: flex;
  flex-direction: column;
}

#languages {
  width: 288px;
  line-height: 50px;
  color: white;
  background-color: #1a2236;
  border: 0;
  margin-bottom: 1.9rem;
  align-self: center;
  background-color: #1c528a;
  color: white;
  padding: 2rem 0 0 0;
  background-image: url("./images/michi.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

#frameworks {
  padding: 2rem 0 0 0;
  width: 288px;
  line-height: 50px;
  color: white;
  border: 0;
  margin-bottom: 1.9rem;
  align-self: center;
  background-color: #e2505c;
  color: white;
  background-image: url("./images/cuadrado.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

#skills {
  padding: 2rem 0 0 0;
  width: 288px;
  line-height: 50px;
  color: white;
  border: 0;
  margin-bottom: 1.9rem;
  align-self: center;
  background-color: #febf52;
  color: white;
  background-image: url("./images/foco.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

ul.language {
  padding: 0 0 3rem 4rem;
  letter-spacing: -0.05em;
  font-size: 18px;
  line-height: 27px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

h3.button_project{
  padding: 0 0 0 3rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}

#contact-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9fa;
  margin-top: 2rem;
  
}
 #contact-me h3{
  align-self: center;
  width: 288px;
  font-family: Playfair Display, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 0 0 1.1rem 0;
  margin-top: 4rem;
 }

 #contact-me p{
  align-self: center;
  width: 288px;
  height:63px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 0 0 1.1rem 0;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
 }

.contact-form {
  display: flex;
  justify-content: center;
}

.contact-form ul {
  list-style: none;
}


input[name="name"], input[name="email-address"] {
  width: 288px;
  height: 52px;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
} 

.mid{
 position: relative;
 outline: none;
}

input::placeholder {
  color: #7d7c84;
  position: absolute;
  margin-top: 8px;
  margin-right: 0.7rem;
  margin-left: 5px;
  font: Poppins, sans-serif;
  font-size: 10px;
  line-height: 15px;
  padding: 0 0 0 10px;
  line-height: 0.6rem;
  text-align: left;
}

textarea {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 21px;
  width: 274px;
  height: 112px;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 14px;
}

.contact-form ul li {
  padding: 0.4rem;
}

.submit{
  font: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 288px;
  height: 44px;
  background-color: #1a2236;
  border: none;
  color: white;
  margin-bottom: 3rem;
}

.submit:hover {
  background-color: white;
  color: #1a2236;
  border: 1px solid #1a2236;
  cursor: pointer;
}

.submit:active {
  border: 2px solid #1a2236;
}

footer {
  background-color: #1a2236;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer button {
  background-color: #1a2236;
  width: 258px;
  height: 44px;
  text-align: left;
  border: none;
  margin-bottom: 2rem;
}

footer button h4{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
  margin-left: 3rem;
  margin-bottom: 2rem;
  padding: 15px 0 0 0;
}

.social-media {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.social-media li {
  flex-direction: row;
  margin-bottom: 2rem;
  list-style: none;
}

.social-media .fab {
  color: white;
}
